<p>Componente: Cambio</p>
<div class="container mt-3">
  <h1>Título del proyecto: {{ title }}</h1>
  <hr />
  <!-- 
      *wdwwdwd
      **dsdasdasd
      ! Deprecated method, do not use
      ? Should this method be exposed in the public API?
     -->

  <h3>"String Interpolation"</h3>
  <b>Usando variable:</b> <br />
  <p>Hola mi nombre es: '{{ nombre }}' y mi apellido: '{{ apellido }}'</p>

  <b>Usando objetos:</b> <br />
  <p>Soy {{ persona.nombre }}, {{ persona.apellido }}</p>

  <b>Usando metodos: </b><br />
  <p>La suma de 20 + 30 + 100 es: {{ sumador(20, 30) + 100 }}</p>

  <b>Usando imagenes: </b>
  <img src="{{ urlImg }}" alt="" height="50" width="50" />

  <br />
  <p>
    No es muy dificil, <b>tranqui</b> es solo almacenar los datos y luego
    devolverlo con doble llaves
  </p>
  <hr />

  <!-- Property binding  -->
  <h3>"Property binding"</h3>
  <b>Usando imagenes: </b>
  <img [src]="urlImg" alt="" height="50" width="50" /><br />

  <b>Usando propiedad "color"</b>
  <p [style.color]="color">Texto de color rojo</p>

  <b>Usando botones:</b><br />
  <button class="btn btn-primary m-2" [disabled]="estado">
    Botón desabilitado
  </button>
  <button class="btn btn-warning" [disabled]="!estado">Botón habilitado</button>

  <p>
    No es muy dificil, <b>tranqui</b> es solo almacenar tbm y se entrega los
    datos con corchetes sobre la propiedad
  </p>
  <hr />
  <!--  -->
  <h3>"Event binding"</h3>
  <b>Usando botones:</b> <br />
  <button class="btn btn-success m-2" (click)="incrementa()">Aumentar +</button>
  <button class="btn btn-danger" (click)="decrementa()">Decrecer -</button>
  <h5>{{ numero }}</h5>

  <p>
    No es muy dificil, <b>tranqui</b> es solo almacenar tbm y se entrega datos
    con parentesis sobre la propiedad
  </p>

  <hr />
  <!--  -->
  <h3>"Two-Way Binding"</h3>

  <b>Imprimiendo lo que se ingresa en input</b>
  <input
    class="form-control"
    type="text"
    [(ngModel)]="numero2"
    placeholder="Ingresa text"
  />
  <h5>{{ numero2 }}</h5>

  <b>Creando un sumador</b>
  <input
    class="form-control"
    type="number"
    [(ngModel)]="numero3"
    placeholder="Ingresa text"
  />
  <input
    class="form-control"
    type="number"
    [(ngModel)]="numero4"
    placeholder="Ingresa text"
  />
  <h5>{{ sumador(numero3, numero4) }}</h5>
  <p>Importa la directiva ngModel y tienes que usar [()]</p>
</div>
